@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cooking with Jennifer</h1>
    <p>I created this site to share my family handed down receipies with my family and all those that like to cook</p>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



</div>
